* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #054A1B;
}

.register-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 15px;
}

.register-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.register-container input, select {
  width: 100%;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}


button[type="submit"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #054A1B;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #096d29;
}

.back-link {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #054A1B;
  text-decoration: none;
  transition: color 0.3s;
}

.back-link:hover {
  color: #0aa039;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  min-width: 200px;
  padding: 15px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s;
  font-size: 0.9em;
  text-align: center;
}

.toast.show {
  opacity: 1;
  visibility: visible;
}

button.loading {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #ccc;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 50%;
  margin-bottom: 10px;
}

.img img {
  width: 50%;
  height: 50%;
}